<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
</head>
<body>
    <h1>Página Inicial</h1>
    <ul>
        <li><a href="/pessoas/cadastro">Cadastro de Pessoas</a></li>
        <li><a href="/pessoas">Listagem de Pessoas</a></li>
        <li><a href="/listagem-imagens">Listagem de Imagens</a></li>
        <li><a href="/listagem-js">Listagem de JS</a></li>
        <li><a href="/listagem-css">Listagem de CSS</a></li>
    </ul>
</body>
</html>
